* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 18px "Hanken Grotesk", sans-serif;
}

.results-card {
  display: flex;
  height: 365px;
  width: 520px;
  border-radius: 20px;
  box-shadow: 0 0 25px #ebf1ff;
}

.result-card,
.summary-card {
  height: 100%;
  width: 50%;
  border-radius: 20px;
}
